.landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: transparent;
  max-width: 1200px;
}

.welcome-container {
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-container h1 {
  padding-right: 10px;
}

.welcome-container h1 {
  font-size: 50px;
}

.welcome-container h2 {
  font-size: 30px;
  /* color: #03588C; */
}

.welcome-container h3 {
  font-size: 30px;
  /* color: #03588C; */
}

@media screen and (max-width: 450px) {
  .welcome-container h1 {
    font-size: 30px;
    color: #03588C;
  }
  
  .welcome-container h2 {
    font-size: 20px;
    color: #03588C;
  }
  
  .welcome-container h3 {
    font-size: 20px;
    color: #03588C;
  }
  
}