.compare {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #03588C;
  color: white;
  font-size: 30px;
  background-color: transparent;
  max-width: 1200px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  max-width: 1200px;
  gap: 2rem;
}

.compare-title {
  font-size: 40px;
  width: 30vw;
}

.nav-compare {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

.nav-compare h1{
  font-size: 2.5rem;
}

.nav-compare img{
  height: 7rem;
}

.nav-compare img:hover{
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .compare {
    background-color: #0487D9;
    background-image: none;
    align-items: center;
    height: fit-content;
  }

  .nav-compare {
    flex-direction: column;
    align-items: center;
  }

  .nav-compare h1{
    margin: 4px;
  }

  .compare-title {
    width: auto;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    height: fit-content;
    gap: 10px;
  }

  .city-dashboard img {
    max-width: 70vw;
    min-width: 50vw;
    height: auto;
    padding-bottom: 15px;
  }
}